<section id="shine-customer-search">
  <shine-customers-app></shine-customers-app>
  <div class="form-group">
   <%= link_to "Go Customers",customers_path ,class: "btn btn-warning"%>
  </div>
</section>
